body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

.title {
    margin: 6px auto 50px auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

a {
    color: #11999e;
}

p {
    color: #40514E;
    line-height: 2;
}

hr {
    width: 4%;
    border-top: 6px dotted;
    border-bottom: none;
    border-color: #EAF6F6;
    margin: 50px auto 50px auto;

}

.skill-row {
    margin: 25px auto 50px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
}

.coding {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.photography {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills {
    margin-bottom: 50px;
}

.profile img {
    margin-top: 60px;
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.top-container {
    background: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.contact-me {
    margin-bottom: 50px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 40px auto;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px
}

.bottom-container p {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-container a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.footer-link {
    padding: 1rem;
}

a:hover {
    color: #eaf6f6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}